header {
  text-align: center;
  border-bottom-style: double;
  border-bottom-width: 4px;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

h1 {
  font-family: "Jacques Francois Shadow";
  font-weight: 100;
  font-size: calc(2.5rem + 6vw);
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

.tagline {
  font-style: italic;
  font-size: calc(1.5rem + 0.5vw);
}

section.about {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 1rem 2rem;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 2rem;
}

section.contact {
  text-align: center;
}

a.email {
  font-style: italic;
}